In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Social_Network_Ads.csv')
df.head(2)

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0
1  15810944   Male   35            20000          0

In [3]:
gen={'Male':1,'Female':0}
df.Gender=[gen[item]for item in df.Gender]
df.head(2)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0

In [4]:
X=df[['Age','EstimatedSalary']]
Y=df['Purchased']

In [5]:
X.insert(0,'B0',1)
xt=X.T

In [6]:
XTX=np.dot(xt,X)

In [7]:
XTXI=np.linalg.inv(XTX)
XTY=np.dot(xt,Y)
BHAT=np.dot(XTXI,XTY)
print("BHAT",BHAT)

BHAT [-9.09619165e-01  2.65605047e-02  3.82813004e-06]

In [8]:
age = 36
salary = 76000
y_pred=BHAT[0]+BHAT[1]*age+BHAT[2]*salary
print("Y_PRED",y_pred)
prediction=1/(1+(2.718)**-y_pred)

Y_PRED 0.33749688840642433

In [9]:
print("Value of sigmoid function : ",prediction)
if prediction>0.5:
    print("PREDICTION : 
          ")
else:
    print("PREDICTION : NO")

Value of sigmoid function :  0.5835738555144253
PREDICTION : YES